
@model IEnumerable<CarWash.Models.User>

@{
    ViewData["Title"] = "User";
    //Layout = "~/Reservation/_Layout";
}

<h1>User</h1>

<div class="table-responsive-xl">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CarNo)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.CarType)
                </th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarType)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @*<a class="btn btn-warning" asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>

            </tr>
        }

    </table>
</div>