@model CarWash.Models.Reservation

<div>
    
            <h4 class="pt-3  font-weight-bold col-md-12" style="font-family:'Courier New';">Details</h4>
     
   
   
    <div class="card-deck pt-1 ">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Id)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Id)
                </dd>
                <dt class=" col-sm-2">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Date)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Date)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Day)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Day)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Amount)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Amount)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Vacuum)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Vacuum)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Leatherconditioner)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Leatherconditioner)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Polish)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Polish)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Freshner)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Freshner)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Amortires)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Amortires)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Enginewash)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Enginewash)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Car)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Car.CarNo)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Types)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Types.Services)
                </dd>
            </dl>
            <div>
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                <a class="btn btn-secondary" asp-action="GetReservation">List</a>
            </div>

        </div>
    </div>
</div>
